@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   min-width:1150px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background-color: rgba(0, 0, 0, 0.4);
}

.open {
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
}

.open.active {
  transform: translateX(0);
}

.description {
  width: -moz-fit-content;
  width: fit-content;
}

